header {
  display: flex;
  flex-direction: column;

  .navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-block: 10px;
    max-width: var(--max-content-width);
    width: 100%;
    margin-inline: auto;

    nav {
      display: flex;
      gap: 20px;

    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: var(--color-blue);
    }

    .auth__buttons {
      display: flex;
      gap: 20px;
    }

    .logged__user{
      /* background-color: var(--color-blue); */
      /* width: 175px; */
      display: flex;
      align-items: center;

      height: 47px;

      color: white;
      font-size: 1rem;
      
    }

  }
}

.header__accessibility {
  background-color: var(--color-blue);
  color: white;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  height: 40px;
  padding-block: 20px;
  width: 100%;
  max-width: var(--max-content-width);
  box-shadow: 0 0 0 100vmax var(--color-blue);
  margin-inline: auto;
  clip-path: inset(0 -100vmax);
}