header {
  display: flex;
  flex-direction: column;

  .navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px 320px;
    nav {
      display: flex;
      gap: 20px;

    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: var(--color-blue);
    }
    .auth__buttons {
      display: flex;
      gap: 20px;
    }
    .logged__user{
      background-color: var(--color-blue);
      width: 175px;
      height: 43px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      border-radius: 10px;
    }

  }
}

.acessibility {
  background-color: var(--color-blue);
  color: white;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  height: 40px;
  padding: 20px 320px;
}