.invite {
  max-width: none; 
  height: 673px;
  width: 100vw;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);
    
    z-index: -1;
  }
}

.invite__mark {
  padding: 8px 9px;
  
  background-color: var(--color-blue);
  line-height: 0.0;

  border-radius: 14px;
}

.invite__wrapper {
  max-width: var(--max-content-width);
  margin-inline: auto;
}