.invite {
  max-width: none;
  height: 673px;
  width: 100%;
  padding-block: 190px;
  background: url("../../../../assets/hands-image-changed.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px;
  background-position-y: -400px;
  box-shadow: inset 0px 480px 100.4px 0px rgba(15, 15, 15, 0.579);

}

.invite__title {
  margin-bottom: 2rem;

  line-height: 1.2;
}

.invite__btn {
  font-size: 12px;
  @media(min-width: 768px) {
    font-size: 16px;
  }
}

.invite__text {
  color: var(--color-neutral-100);
  margin-bottom: 2rem;
}

.invite__mark {
  padding: 1px 9px;

  background-color: var(--color-blue);
  line-height: 0.0;

  border-radius: 14px;
}

.invite__wrapper {
  max-width: var(--max-content-width);
  margin-inline: auto;
}

.invite__call-to-actions {
  display: flex;
  gap: 10px;
}

@media(min-width: 400px) and (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
  .invite__call-to-actions {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .invite__btn {
    width:  100%;
  }

}