
.hero{
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  /* box-shadow: inset 0px 380px 100.4px 0px rgba(15, 15, 15, 0.644); */
  max-height: 1000px;
  box-shadow: inset 0px 280px 100.4px 0px rgba(15, 15, 15, 0.35);
}
.Hero__title{
  color: white;
}
.hero__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.btns__hero{
  display: flex;
  gap: 2rem;

}