footer {
  max-width: var(--max-content-width);
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-blue-20);
  a {
    text-decoration: none;
    color: var(--color-blue-20);
  }
  }
  li{
    list-style: none;
}

.footer__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-block: 12px;
  align-items: center;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding: 40px 0px;
    gap: 10px;
  }
}
.footer__top__menu{
  display: flex;
  gap: 14px;
  list-style-type: none;
  @media screen and (min-width: 600px) {
   width: 100%;
  }
}
.footer__top__logo__desktop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.footer__top__social-medias{
  display: flex;
  gap: 14px;
  justify-content:flex-end;
  @media screen and (min-width: 600px) {
    width: 100%;
   }
}
.footer__top__logo__mobile{
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__top__logo__desktop{
    display: none;
  }
 .footer__top__logo__mobile{
  display: flex;
  align-items: center;
  gap: 14px;
 }
}

@media(min-width: 400px) and (max-width: 767px) {
  .footer__top__logo__desktop{
    display: none;
  }
 .footer__top__logo__mobile{
  display: flex;
  align-items: center;
  gap: 14px;
 }


}

