.container{
  display: flex;
  flex-direction: column;
  p{
    width: 80%;
  }
  .btns{
    display: flex;
    gap: 20px;
  }
}
.ilustration{
  font-size: 10rem;
  font-weight: 700;
}



@media screen and (min-width: 300px) and (max-width: 470px) {
  .btns{
    flex-direction: column;
  }

}
