
.features__cards{
  display: flex;
  margin-top: 55px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: row;

  .card{
    width: 296px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid var(--color-pink);
    height: 370px;
    border-radius: 20px;
    padding: 15px;
    justify-content: space-between;
    color: var(--color-blue);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    
  }

  .features__icon{
    width: 4rem;
    height: 4rem;
    color: var(--color-blue-20);
  }
}

.features__footnote {
  margin-bottom: 40px;

  color: var(--color-blue-20);
}

.features__title {
  margin-bottom: 90px;
  text-align: center;
}


.features__description {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: var(--color-blue-20);
}

.features__card__description {
  display: -webkit-box;
  width: calc(100% - 2rem);
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 30px;
  -webkit-box-orient: vertical;
  /* line-clamp: 3; */
  font-weight: 600;
}

.features__card__name {
  height: 72px;
}

@media screen and (max-width: 600px) {
  .features__cards{
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .features__cards .card{
    width: 100%;
    max-width: 200px;
    max-height: 274px;
  }
  .features__card__description{
    font-size: 14px;
  }
  .features__card__name {
    font-size: 18px;
  }
  .features__description {
    font-size: 24px;
  }
}

@media screen and (min-width: 300px) and (max-width: 470px) {

  .features__cards .card{
    max-width: 150px; 
    max-height: 290px;
  }
  .features__card__description{
    font-size:12px;
    line-height: 2rem;
    width: 100%;
  }
  .features__card__name {
    font-size: 13px;
    height: 50px;
  }
  .features__title .title{
    font-size: 24px;
  }
  .features__description {
    font-size: 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .features__cards{
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .features__cards .card{
    width: calc(50% - 10px);
    max-width: 230px;
    max-height: 290px;
  }
  .features__description {
    font-size: 20px;
  }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .features__cards{
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .features__cards .card{
    max-width: 396px;
    max-height: 260px;
  }
}

@media screen and (min-width: 1025px) {
  .features__cards{
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .features__cards .card{
    max-width: 210px;
    max-height: 330px;
  }
  .features__card__name {
    font-size: 15px;
    height: 50px;
  }

  .features__card__description{
    font-size:14px;
    line-height: 1.5rem;
    width: 100%;
  }
  .features__icon{
    transform: scale(0.8);
  }
}