.all_sections{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top__section {
  display: flex;
  gap: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.title__card{
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
  width: 100%;
  h4{
    flex:1;
  }
}
.cardYellow{
  background-color: var(--color-yellow);
  color: #323232;
}
.cardBlue{
  background-color: var(--color-blue);
  color: #fff;
  .icon-color{
    color: white;
  }
}
.cardPink{
  background-color: var(--color-pink);
  color: #fff;
}

.card {
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  &:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    .icon-card{
      transition: all 0.2s ease-in-out;
      rotate: 30deg;
    }
  }
    
}
.link{
  width: 100%;
}




@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .calendar-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .calendar-legend {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .day {
    min-width: 25px;
    min-height: 25px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .calendar-section,
  .card {
    padding: 10px;
  }

  .day {
    font-size: 0.8rem;
    min-width: 20px;
    min-height: 20px;
  }

  .calendar-row div {
    font-size: 0.8rem;
  }

  .calendar-legend {
    font-size: 0.8rem;
  }

}